.Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #000000;
    margin-top: 1rem ;
    padding: 1rem;
    border-radius: 7px;
    font-size: 1.2rem;
    width: 100%;
    transition: all .1.5s linear;
    font-family: cursive;
    cursor: pointer;
}

.Field:focus {
    box-shadow: 0.4px 4px rgba(0, 0, 0, .4);
    outline: none;
}

.Error {
    color: #ff8080;
}

.Logo {
    width: 50%;
    margin-top: 2rem;
}

.Button {
    padding: .5rem 2rem;
    margin-top: 2rem;
    border-radius: 7px;
    font-family: cursive;
    font-size: 1.2em;
}

.Button:hover {
    cursor: pointer;
}

.Btn-Register {
    margin-top: 0;
}

.Button-back {
    text-decoration: none;
}

.Title {
    font-family: cursive;
}

.Option {
    cursor: pointer;
}

.Texts {
    font-size: 1.2rem;
    font-family: cursive;
}
