body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ecfa9d;
  color: #000000
}

.Field {
  border: none;
  background: rgba(0, 0, 0, .25);
  color: #000000;
  margin: 0.5rem ;
  padding: 1rem;
  border-radius: 7px;
  font-size: 1rem;
  width: 100%;
  transition: all .1.5s linear;
  cursor: pointer;
}

.Field:focus {
  box-shadow: 0.4px 4px rgba(0, 0, 0, .4);
  outline: none;
}

.Error {
  color: #ff8080;
}

.Logo {
  width: 50%;
  margin-top: 1.5rem;
}

.LogoOrder {
  width: 30%;
}

.Button {
  padding: .5rem 2rem;
  margin-top: 1rem;
  border-radius: 7px;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  cursor: pointer;
  background-color: purple;
 color: white; 
}

.Btn-Register {
  margin: 1rem;
}

.Button-back {
  text-decoration: none;
}

.Title {
  font-family: 'Crete Round', serif;
  margin: 0;
}

.Option {
  cursor: pointer;
  margin-left: 1.4rem;
}

.Texts,
.Group {
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
}
